.chat {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.messages {
  background: #fff6e6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0.5rem;
}

.title-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0 1rem;
}

.button--logout {
  color: black;
}

.button--new {
  margin: 0.5rem 1rem;
}
