<div class="chat">
  <div class="messages">
    <div class="title-section">
      <span class="title">Messages</span>
      <button
        (click)="onLogoutClick()"
        class="button--secondary button--logout"
      >
        Logout
      </button>
    </div>
    <button (click)="onNewClick()" class="button--primary button--new">
      New Chat
    </button>
    <div class="messages__list">
      <app-message-list-item
        *ngFor="let message of conversations; index as i"
        [contact]="message.number"
        [preview]="message.lastMessageText"
        [selected]="i === selected"
        (click)="onMessageClick(i)"
      ></app-message-list-item>
    </div>
  </div>
  <div class="content">
    <div *ngIf="selected === undefined" class="content__placeholder">
      Click a message to start chatting or create a new chat!
    </div>
    <app-message-view
      *ngIf="selected !== undefined"
      [phoneNumber]="conversations[selected].number"
      [conversationId]="conversations[selected]._id"
    ></app-message-view>
  </div>
</div>
