.chat {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
}

.messages {
  background: #fff6e6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0.5rem;
}

.title {
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0.5rem 1rem;
}

.button__new {
  margin: 0.5rem 1rem;
}

.content {
}
