.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 40vw;
  height: 40vh;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.button--large {
  font-size: 1.3rem;
}

.divider {
  margin: 1em;
  color: darkgray;
}
