<div class="login">
  <div class="card card--shadow">
    <span class="title">Sign in</span>
    <form (submit)="login()" #loginForm="ngForm">
      <div class="form-group">
        <label class="form-group__label" for="email">Email address</label>
        <input
          id="email"
          type="email"
          class="form-group__control"
          name="email"
          placeholder="email@example.com"
          [(ngModel)]="credentials.email"
          required
          #email="ngModel"
        />
        <div
          *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert alert--danger"
        >
          <div *ngIf="email.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label class="form-group__label" for="password">Password</label>
        <input
          id="password"
          type="password"
          class="form-group__control"
          name="password"
          placeholder="********"
          [(ngModel)]="credentials.password"
          required
          minlength="1"
          #password="ngModel"
        />
        <div
          *ngIf="password.invalid && (password.dirty || password.touched)"
          class="alert alert--danger"
        >
          <div *ngIf="password.errors.required">Password is required</div>
        </div>
      </div>
      <ul *ngIf="errors.length > 0" class="alert alert--danger">
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
      <button
        type="submit"
        class="button--primary"
        [class.button--disabled]="!loginForm.form.valid"
        [disabled]="!loginForm.form.valid"
      >
        Sign in
      </button>
    </form>
  </div>
</div>
